<div class="row light-blue lighten-5">
  <div class="col s12">
    <div class="row">
      <h4 class="center-align">Cartelera Semanal</h4>
    </div>
    <div>
      <div class=" row col l2 card">
        <div class="card-image waver-efect waves-blog waves-light">
            <img class="activator" src="./assets/CinemaxLanding/imagenes/posters/guardians-galaxy.jpg">
        </div>
        <div class="card-content">
          <a href="#"><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fas fa-heart"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
