<div class="row light-blue lighten-5">
  <div class="carousel">
    <a class="carousel-item"><img src="./assets/CinemaxLanding/imagenes/promociones/1.png"></a>
    <a class="carousel-item"><img src="./assets/CinemaxLanding/imagenes/promociones/2.jpeg"></a>
    <a class="carousel-item"><img src="./assets/CinemaxLanding/imagenes/promociones/3.jpg"></a>
    <a class="carousel-item"><img src="./assets/CinemaxLanding/imagenes/promociones/4.png"></a>
    <a class="carousel-item"><img src="./assets/CinemaxLanding/imagenes/promociones/5.jpg"></a>
    <a class="carousel-item"><img src="./assets/CinemaxLanding/imagenes/promociones/6.jpg"></a>
    <a class="carousel-item"><img src="./assets/CinemaxLanding/imagenes/promociones/7.jpg"></a>
    <a class="carousel-item"><img src="./assets/CinemaxLanding/imagenes/promociones/8.jpg"></a>
  </div>
  
</div>