/* You can add global styles to this file, and also import other style files */
.container{
    width: 90%;
}
.row{
    margin-bottom: 0;
}
.card-content{
    font-size: 20px;
    padding-left:10px;
}
.carousel{
    perspective: 900px !important;
    height: 280px ;
}
